* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  line-height: 1.5;
}
.project-wrapper__text-info .more-text {
  display: none;
}

.project-wrapper__text-info .read-more-link {
  color: rgb(25, 143, 254);
  cursor: pointer;
  text-decoration: underline;
}
.tech-stack {
  padding-bottom: 20px;
  h6 {
    font-size: 16px;
    font-weight: 700;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .tag {
      background-color: #ffffff;
      border: 1px solid #000000;
      padding: 3px 7px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #91a5ff;
      }
    }
  }
}
